/* src/pages/MyLibrary.module.css */
.wrapper {
  width: 100%;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 2rem;
}

.bookGrid {
  display: grid;
  /* This creates a responsive grid */
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 2rem;
}

.message {
  font-size: 1.1rem;
  color: #555;
}